/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* In custom.css */
@font-face {
  font-family: 'Grotesk';
  src: url('/static/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply Grotesk font to the entire website */
body {
  font-family: 'Grotesk', sans-serif;
}
html {
  font-family: 'Grotesk', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Grotesk', sans-serif;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #dd2777;
  --ifm-color-primary-dark: #ca206b;
  --ifm-color-primary-darker: #bf1e65;
  --ifm-color-primary-darkest: #9d1953;
  --ifm-color-primary-light: #e13d85;
  --ifm-color-primary-lighter: #e2498c;
  --ifm-color-primary-lightest: #e86aa1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #db2777;
  --ifm-color-primary-dark: #c7216b;
  --ifm-color-primary-darker: #bc1f65;
  --ifm-color-primary-darkest: #9b1a53;
  --ifm-color-primary-light: #df3d85;
  --ifm-color-primary-lighter: #e1488c;
  --ifm-color-primary-lightest: #e669a1;
  --ifm-background-color: #23272f;
}


/**/
/* .navbar { */
/*   background-color: #1B1B1D; */
/* } */
/**/
/* .footer { */
/*   background-color: #1B1B1D; */
/* } */
/**/
