* {
  margin: 0;
  /* Removes all margin */
  padding: 0;
  /* Removes all padding */
  box-sizing: border-box;
  /* Removed Border box */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }
