//Base Variables

//colors
$color-primary-accent: #f88000;
$color-primary-accent: #f88000;
$color-black-dark: #13151A;
$color-black-lite: #262B33;
$color-text-main: white;
$color-text-secondary: #777;
//font
$font-primary:'Open Sans';
$font-secondary:sans-serif;
//font-Weight
$font-weight:200;
$font-size:1.6rem;
$line-height:1.6rem;